.NB-list.active {
    color: #2b3991 !important;
}

.NB-container {
    background-color: #fff;
    padding: 0px 60px !important;
    margin: 0px !important;
}

.NB-icon {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    font-size: 20px;
    padding: 4px 0px 4px 4px;

}

.NB-menu {
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    padding-left: 8px;
    margin: 0px;
    letter-spacing: 0.1em;

}

.NB-list {
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
    padding: 16px 50px 16px 20px !important;
    font-weight: 600 !important;
    transition: ease 0.5s !important;
    color: #000000 !important;

    &:hover {
        color: #fd7e14 !important;
        letter-spacing: 2px;
    }
}

.NB-quote {
    color: #fff !important;
    background-color: #da1c5c;
    padding: 8px 16px;
    border-radius: 40px;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    border: 1px solid #da1c5c;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    right: 16px;
    top: 8px;

}


@media screen and (max-width:992px) {
    .NB-container {
        background-color: #000000 !important;
        color: #fff !important;
        padding: 10px 0px !important;
        margin: 0px !important;
    }

    .NB-list {
        color: #fff !important;

        &:hover {
            color: #fff !important;
            letter-spacing: 2px;
        }
    }

    .NB-list.active {
        color: #fff !important;
    }


}